
.profile-background {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardHeader {
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0%;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.col-3{
    margin-top: 2%;
}

div#info-data {
    padding: 16px;

}

.mat-card {
    border-radius: 20px;
    margin: 3%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 16px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}


.mat-card#first-card {
    border-radius: 25px;
    padding: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}


.profile-image {
    padding: 0px;
    width: 170px;
    height: 170px;
    margin-top: -110px;
    margin-left: 16px;
    z-index: 1;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.911)
}

ul li {
    list-style: none;
    display: inline-block;
    margin: .5em .3em;
}

ul li a {
    text-decoration: none;
    color: rgb(120, 128, 204);
    width: 30px;
    height: 30px;
    line-height: 30px !important;
}



div#trabajo-estudios h2 {
    font-size: 18px;
}

div#trabajo-estudios {
    margin-block-end: auto;
}



